tr {
    width: 399px;
}

td{
    width: 133px;
    height: 133px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

td:hover{
    cursor: pointer;
    background-color: #c3c1af33;
}

tr:first-child td{
    border-top: 0 ;
}

tr:last-child td{
    border-bottom: 0 ;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

table{
    border-collapse: collapse;
}

.img-shape{
    height: 100px;
    width: 100px;
}

.cross{
    z-index: 5;
}