body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: 410px;
}

.player{
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

.opacity{
    opacity: 0.3;
}

.player span{
    margin-right: 12px;
}

tr {
    width: 399px;
}

td{
    width: 133px;
    height: 133px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

td:hover{
    cursor: pointer;
    background-color: #c3c1af33;
}

tr:first-child td{
    border-top: 0 ;
}

tr:last-child td{
    border-bottom: 0 ;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

table{
    border-collapse: collapse;
}

.img-shape{
    height: 100px;
    width: 100px;
}

.end-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 0px #8080809c;
    z-index: 2;
}

.btn{
    margin-bottom: 15px;
    cursor: pointer;
}

.d-none{
    display: none;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.horizontal-line{
    height: 10px;
    width: 300px;
    background-color: #6c6c6ce0;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical{
    transform: rotate(90deg) scaleX(0.0);
}

@media(max-width: 450px){
    td{
        width: 100px;
        height: 100px;
    }

    .players{
        width: 300px;
        font-size: 12px;
    }

    .players img{
        width: 30px;
    }

    .img-shape{
        width: 70px;
        height: 70px;
    }

    .end-screen img{
        width: 300px;
    }
}